<!-- <app-header></app-header>
<mat-drawer-container class="example-container">
    <mat-drawer class="sidebar" mode="side" opened="true">
    <app-sidebar></app-sidebar>
        
    </mat-drawer>
    <mat-drawer-content class="main-content"><app-create-exam></app-create-exam></mat-drawer-content>
  </mat-drawer-container> -->

<app-header-login-form></app-header-login-form>
<router-outlet></router-outlet>
<!-- <app-login-form></app-login-form> -->
<!-- <app-manage-item-bank></app-manage-item-bank> -->



<!-- <app-create-exam></app-create-exam> -->

<!-- <app-manage-teacher></app-manage-teacher> -->

<!-- <app-print-exam></app-print-exam> -->