<mat-nav-list>
    <mat-list-item>
        <button mat-icon-button>
            <mat-icon>note_add</mat-icon>
            Manage Item Bank
        </button>
    </mat-list-item>
    <mat-list-item>
        <button mat-icon-button>
            <mat-icon>description</mat-icon>
            Create Exam
        </button>
    </mat-list-item>
    <mat-list-item>
        <button mat-icon-button>
            <mat-icon>print</mat-icon>
            Print Exam
        </button>
    </mat-list-item>
    <mat-list-item>
        <button mat-icon-button>
            <mat-icon>supervised_user_circle</mat-icon>
            Manage Teacher
        </button>
    </mat-list-item>
</mat-nav-list>

